.cross{
    position: absolute;
    width: 7px;
    height: 30px;
    transform: rotate(45deg);
    background: #eee;
  }
  
  .cross-2{
    transform: rotate(-45deg);
  }
  .cross-container{
    position: relative;
    width: 30px;
    height: 30px;
    left: 92%;
    cursor: pointer;
    margin-bottom:5px;
  }
  